@model RashaPrimeWeb.Application.CQRS.Blog.Commands.CreateBlog.CreateBlogCommand
@{
}


@{


	Layout = "~/Areas/Admin/Views/Shared/_LayoutSiteAdmin.cshtml";
}

<div class="portlet box shadow">
	@using (Html.BeginForm("Create", "ManageBlog", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		@Html.AntiForgeryToken()
		@Html.ValidationSummary(false, "", htmlAttributes: new { @class = "text-danger" })
		@*				<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@

		@Html.CustomHiddenHtmlHelper("Model.Seen", Model.Seen.ToString())

		@Html.CustomHiddenHtmlHelper("Model.LinkKey", Model.LinkKey?.ToString())


		@Html.CustomEditorHtmlHelper("Model.ShortTitle", "عنوان  ")

		@Html.CustomEditorHtmlHelper("Model.TitleBrowser", "عنوان در مرورگر ")

		@Html.CustomEditorHtmlHelper("Model.LongTitle", "توضیحات مختصر ")

		@await Component.InvokeAsync("LanguageItemCreateComponents")
		@await Component.InvokeAsync("CategoryItemCreateComponents")
		@await Component.InvokeAsync("TagItemCreateComponents")
		@* 	
				@Html.CustomFileHtmlHelper("Model.FileHeader","عکس صفحه اسلایدر")
				@Html.CustomFileHtmlHelper("Model.FileForDetials","عکس در صفحه محصول") *@

				@Html.CustomCkEditorHtmlHelper("Model.Text")

	

		@Html.CustomSubmitHtmlHelper()
	}
</div>





@section Links
{
	<link href="/AdminModiran/assets/plugins/summernote/dist/summernote.css" rel="stylesheet">
	<link href="/AdminModiran/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet">
	@* 	@Html.CustomUploadImageLinkHtmlHelper()
 *@



}
@section scripts {
	@* 	<script src="https://cdn.tiny.cloud/1/7at3pq1ag4a2zejio7k06fy3a1kzkyi4ctywq47k8f3carzc/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
	<script src="/js/custom_tinymce.js"></script> *@
	
	<script src="/AdminModiran/assets/plugins/summernote/dist/summernote.min.js"></script>
	<script src="/AdminModiran/assets/js/pages/summernote.js"></script>
	<partial name="Partials/_SelectScript" />
}

