@model RashaPrimeWeb.Application.CQRS.Blog.Commands.CreateBlog.CreateBlogCommand
@{
}


@{


	Layout = "~/Areas/Admin/Views/Shared/_LayoutSiteAdmin.cshtml";
}

<div class="portlet box shadow">
	@using (Html.BeginForm("Create", "ManageBlog", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		@Html.AntiForgeryToken()
		@Html.ValidationSummary(false, "", htmlAttributes: new { @class = "text-danger" })
		@*				<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@

		@Html.CustomHiddenHtmlHelper("Model.Seen", Model.Seen.ToString())

		@Html.CustomHiddenHtmlHelper("Model.LinkKey", Model.LinkKey?.ToString())


		@Html.CustomEditorHtmlHelper("Model.ShortTitle", "عنوان  ")

		@Html.CustomEditorHtmlHelper("Model.TitleBrowser", "عنوان در مرورگر ")

		@Html.CustomEditorHtmlHelper("Model.LongTitle", "توضیحات مختصر ")

		@await Component.InvokeAsync("LanguageItemCreateComponents")
		@await Component.InvokeAsync("CategoryItemCreateComponents")
		@await Component.InvokeAsync("TagItemCreateComponents")
		@* 	
				@Html.CustomFileHtmlHelper("Model.FileHeader","عکس صفحه اسلایدر")
				@Html.CustomFileHtmlHelper("Model.FileForDetials","عکس در صفحه محصول") *@

		@Html.CustomCkEditorHtmlHelper("Model.Text")



		@Html.CustomSubmitHtmlHelper()
	}
</div>





@section Links
{

	<partial name="Partials/_EditorLink" />
	<partial name="Partials/_SelectLink" />
	@* 	@Html.CustomUploadImageLinkHtmlHelper()
 *@



}
@section scripts {


	<partial name="Partials/_EditorScript" />
	<partial name="Partials/_SelectScript" />
}

