<!DOCTYPE html>
<html lang="fa" dir="rtl" class="rtl">

<!-- Mirrored from demo.rayanik.com/modiran/light/blank.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 05 Aug 2023 10:08:10 GMT -->
<head>
	<title>قالب مدیریتی مدیران</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="قالب مدیریت ایرانی مدیران ">
	<meta name="keywords" content="قالب مدیریت, قالب داشبورد, قالب ادمین, قالب مدیران, قالب مدیریت راستچین , قالب ایرانی مدیریت, پوسته مدیریت, قالب ادمین داشبورد سایت, قالب مدیریتی, مدیران, قالب مدیریت مدیران, پنل مدیریت, پنل مدیریت مدرن, قالب ادمین متریال, قالب مدیریت بوت استرپ, قالب ادمین بوتسترپ, قالب ادمین سایت, پوسته مدیریتی ایرانی, قالب مدیرتی مدیران ایرانی, بهترین قالب مدیریت, قالب مدیریت ریسپانسیو, قالب مدیریت ارزان, قالب admin">
	<meta name="fontiran.com:license" content="NE29X">
	<link rel="shortcut icon" href="/AdminModiran/assets/images/favicon.png">

	<!-- BEGIN CSS -->
	<partial name="Partials/_Link" />
	<!-- END CSS -->
	@RenderSection("Links", false)
</head>
<body class="active-ripple theme-darkpurple fix-header sidebar-extra">
	<!-- BEGIN LOEADING -->
	<div id="loader">
		<div class="spinner"></div>
	</div><!-- /loader -->
	<!-- END LOEADING -->
	<!-- BEGIN HEADER -->
	<partial name="Partials/_Header" />
	<!-- END HEADER -->
	<!-- BEGIN WRAPPER -->
	<div id="wrapper">
		@await Component.InvokeAsync("MainMenuAdminComponents")
		<!-- BEGIN SIDEBAR -->
		<!-- END SIDEBAR -->
		<!-- BEGIN PAGE CONTENT -->
		<div id="page-content">
			<div id="inner-content">
				<div class="row">
					<!-- BEGIN BREADCRUMB -->
					<div class="col-md-12">
						<div class="breadcrumb-box shadow p-5">
							<ul class="breadcrumb ">
								<li><a class="text-decoration-none text-dark" href="#">پیشخوان</a></li>
								<li><a class="text-decoration-none text-dark"  href="#">@ViewBag.TypePage</a></li>
								<li class="active">@ViewBag.title </li>
							</ul>
							<div class="breadcrumb-left">
								شنبه، 1402/05/14
								<i class="icon-calendar"></i>
							</div><!-- /.breadcrumb-left -->
						</div><!-- /.breadcrumb-box -->
					</div><!-- /.col-md-12 -->
					<!-- END BREADCRUMB -->
					<div class="col-md-12">
									@RenderBody()
					</div>


					<!-- /.col-12 -->
				</div><!-- /.row -->
			</div><!-- /#inner-content -->
		</div><!-- /#page-content -->
		<!-- END PAGE CONTENT -->

	</div><!-- /#wrapper -->
	<!-- END WRAPPER -->

	<partial name="Partials/_Footer" />
	<!-- BEGIN SETTING -->


	<partial name="Partials/_Setting" />

	<!-- /.settings -->
	<!-- END SETTING -->
<!-- BEGIN JS -->

	<partial name="Partials/_Script" />
@RenderSection("scripts", false)
</body>

<!-- Mirrored from demo.rayanik.com/modiran/light/blank.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 05 Aug 2023 10:08:10 GMT -->
</html>


